/*  3. Banner Style CSS
/*----------------------------------------*/
.banner-area{
  position: relative;
  overflow: hidden;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.banner-caption{
  padding: 290px 0 220px 0;
  h1{
    margin-bottom: 35px;
  }
  p{
    font-size: $base-font-size+1;
  }
}