/*  11. Breed Style CSS
/*----------------------------------------*/
.breed-area{
  overflow: hidden;
  position: relative;

}
.breed-list{
  div[class*=col-]{
    padding-bottom: 30px;
  }
}
.breed{
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0px 2px 5px 0px rgba(0, 29, 103, 0.15);
}
.breed-img-box{
  min-height: 200px;
  border-radius: 15px;
  background-color: $gray;
  display: block;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.breed-content-box{
  padding: 40px 30px;
  @media #{$md-layout,$lg-layout} {
    padding: 40px 15px;
  }
  @media #{$xs-layout} {
    padding: 40px 20px;
  }
}
.breed-info{
  li{
   width: 48%;
    background-color: $aliceblue;
    padding: 15px 8px;
    margin-bottom: 10px;
    &.list-inline-item:not(:last-child) {
      margin-right: 5px;
    }
    &.list-inline-item:nth-child(2n){
      margin-right: 0;
    }
    p{
      margin: 0;
      @media #{$lg-layout} {
        font-size: 12px;
      }
    }
  }
}
a.read-more{
  font-size: $base-font-size+1;
}

.pagination{
  .page-item{
   &.disabled{
     display: none;
   }
    &.page-item:not(:last-child) {
      margin-right: 10px;
    }
    .page-link{
      border:none;
      background-color: #f2f2f2;
      font-family: $lato;
      font-size: $base-font-size;
      padding: 25px;
      text-align: center;
      border-radius: 0;
      color: $dark;
      &:hover{
        background-color: $light-blue;
        color:$white;
      }
    }
    &.active{
      .page-link{
          background-color: $light-blue;
          color:$white;
      }
    }

  }
}
.breed-content{
  p{
    margin-bottom: 60px;
  }
}

